.main {
  width: 240px;
  margin: auto;
  background-color: #cadcf3;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
}

.button {
  background-color: dodgerblue;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;
  color: white;
}
